#logo {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-bottom: 150px;
}
#navbar {
    height: 100px;
    background-image: url("../../Images/dd.jpg");
    border: none;
    color: navy;
}
#login_nav{
    margin-right: 10px;
    color: navy;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}