#btns {
    padding: 0px;
    margin: 0px;
}
#settings {
    text-underline-position: below;
    height: 5vh;
    font-size: 20px;
    border-radius: 24px;
}
#btns li {
    text-align: center;
    padding: 0px;
    border-width: thin;
    border-style: solid;
}
#all-sett {
    position: relative;
    top: 35px;
    border-width: thin;
    border-style: solid;
}
table {
    width: 100vw;
    margin: 5vh 0vw;
}
table th {
    width: 25vw;
    text-align: center;
}
table td {
    text-align: center;
}
