#navbar {
    height: 100px;
    background-image: url("../../Images/dd.jpg");
    border: none;
    color: navy;
}
#login_nav{
    color: navy;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: navy;
}
#links {
    position: relative;
    top: 28px;
    text-align: center;
}
#logo {
    max-width: 130px;
    max-height: 130px;
}